
body {
  font-family: Verdana, sans-serif;
  margin: 0;
  background: #bbdfc8;
  line-height: 2;
  min-width: 1290px !important;
  overflow-x: hidden;
}

h1 {
  font-size: 500%;
  position: fixed;
  top: 75px;
  right: 275px;
}
 .img-404 {
  position: fixed;
  left: 25px;
  top: 100px;
}

p {
  position: fixed;
  top: 275px;
  right: 75px;
  text-align: center;
}

.btn {
  background: black;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: white;
}

.btn:hover{

}

@media screen and (max-width: 302px)  {
  .img-404{
    left: 250px;
  }

  p {
    top: 650px;
    right: 350px;
  }
  h1 {
    top: 450px;
    right: 550px;
  }
}
